:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.quotebox {
  width: 50vw;
  padding: 25px;
  padding-left: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 1px #000;
  box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
-webkit-box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
-moz-box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.84);
border-radius: 154px 0px 140px 0px;
-webkit-border-radius: 154px 0px 140px 0px;
-moz-border-radius: 154px 0px 140px 0px;
}

h1 {
  font-size: 2em;
}
.randomBtn{
   align-self:flex-end;
   cursor: pointer;
   margin-right: 50px;
}